.nav {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  font-size: 2rem;
  padding: 1rem;
  background-color: whitesmoke;
  align-items: center;
  color: #433FBF;

  i {
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 30px;
  width: 300px;
  height: 400px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #222222;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  overflow: scroll;
  z-index: 100;
}

.cart-header {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  border-bottom: solid 1px #cccccc33;
  background-color: whitesmoke;
  font-weight: 600;

  > div {
    &:nth-child(n) {
      display: flex;
      flex: 0.4;
      text-transform: capitalize;
    }
  }
}