.cart-item {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  border-bottom: solid 1px #cccccc33;

  > div {
    &:nth-child(n) {
      display: flex;
      flex: 0.4;
      text-transform: capitalize;
    }
    &:nth-child(1) {
      font-weight: 600;
    }
  }
}